name: getSteamReview

on:
  schedule:
    - cron: '0 0,6,12 * * *' 
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7.7'
          
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: execute py script
        env: 
          SENDER_ADDRESS: ${{ secrets.SENDER_ADDRESS }}
          SENDER_PASSWORD: ${{ secrets.SENDER_PASSWORD }}
        run: python app.py

      - name: commit current.txt file
        run: |
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"
            git add current.txt
            git commit -m "Update new review txt" -a

      - name: push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master